{% set accordion_classes = [
  'accordion-item',
  modifier ? 'accordion-item--'~ modifier] %}

<div class="{{ accordion_classes|classlist }}">
  <button class="accordion-item__toggle"
          aria-expanded="false"
          aria-controls="{{ id }}">
    {{ title }}
  </button>

  <div id="{{ id }}" class="accordion-item__content" aria-labelledby="{{ id }}" hidden>
    {% if subtitle %}
      <span class="accordion-item__subtitle">{{ subtitle }}</span>
    {% endif %}
    {{ content }}
  </div>
</div>