{% if file.dimensions.size %}
  {% set dimsize = ' data-size=' ~file.dimensions.size ~ '' %}
{% endif %}


{% if file.type != 'json' %}
  <div class="file file--type-{{ file.type }}" data-type="{{ file.type }}"{{ dimsize }}">

  <div class="file__content">
    {% if file.type == 'img' %}
      {% set path = file.path %}

      {% if file.thumb %}
        {% set path = file.thumb.path %}
      {% endif %}

      <img src="{{ path }}" alt="{{ file.name }}" class="file__image">

    {% elseif file.type == 'eps' or file.type == 'pdf' %}
      <span class="file__type">{{ file.type }}</span>
      <span class="file__type-descr">Voor drukwerk</span>
    {% elseif file.type == 'ai' %}
      <span class="file__type">{{ file.type }}</span>
      <span class="file__type-descr">Bronbestand van het ontwerp</span>
    {% endif %}
  </div>

  <div class="file__info">
    <h3 class="file__title"> {{ file.name }}</h3>

    <a class="link link--download" target="_blank" href="{{ file.path }}">
      <span class="link__text">Download bestand</span>
    </a>

    {% if file.descr %}
      <p class="file__descr">{{ file.descr }}</p>
    {% endif %}

    <div class="l-meta">
      <dl class="meta-data">
        <dt>Grootte:</dt>
        <dd>{{ file.size }}</dd>

        {% if file.dimensions %}
          <dt>Formaat:</dt>
          <dd>{{ file.dimensions.width }}px x {{ file.dimensions.height }}px</dd>
        {% endif %}
      </dl>

      {% if file.typedescr %}
        <span class="file__typedescr">{{ file.typedescr }}</span>
      {% endif %}
    </div>
  </div>
  </div>

{% elseif file.name != 'config.json' %}

  <div class="file file--ext-{{ file.type }} file--type-{{ file.data.type }}" data-ext="{{ file.type }}"
       data-type="{{ file.data.type }}">
    {% if file.data.type == 'font' %}
      <div class="file__content">
        <div class="font font--{{ file.data.name|replace({' ': '-'})|lower }}">
          <p>aA</p>
        </div>
      </div>

      <div class="file__info">
        <h3 class="file__title">{{ file.data.name }}</h3>

        {% if file.data.download %}
          <a class="link link--download" target="_blank" href="{{ file.download }}">
            <span class="link__text">Download ZIPbestand</span>
          </a>
        {% endif %}

        <div class="l-meta">
          <dl class="meta-data">
            {% if file.data.url %}
              <dt class="visually-hidden">URL</dt>
              <dd class="url"><a class="link link--read-more" href="{{ file.data.url }}">Download
                  bij {{ file.data.provider }}</a></dd>
            {% endif %}
            {% if file.data.provider %}
              <dt class="url">Aanbieder:</dt>
              <dd>{{ file.data.provider }}</dd>
            {% endif %}
          </dl>

          {% if file.data.descr %}
            <span class="file__typedescr">{{ file.data.descr }}</span>
          {% endif %}
        </div>
      </div>
    {% else %}
      {# kleurrr #}
      <div class="file__content">
        <span
            class="color color--{{ file.data.name|replace({' ': '-',',' : ''})|lower }}{{ file.data.text_color ? ' text--' ~ file.data.text_color }}"
            style="background: {{ file.data.hex }}">

          {% if file.data.complementary.hex %}
            <span class="color__complementary" style="background: {{ file.data.complementary.hex }}"></span>
          {% endif %}
        </span>
      </div>

      <div class="file__info">
        <h3 class="file__title">{{ file.data.name }}</h3>

        <div class="l-meta l-meta-colors">
          <dl class="meta-data meta-data--color-scheme">
            <dt>HEX:</dt>
            <dt>{{ file.data.hex }}</dt>
          </dl>
        </div>

        <div class="l-meta l-meta-colors">
          {% if file.data.cmyk %}
            {% set color_profile_content %}
              <dl class="meta-data meta-data--color-scheme">
                <dt>C:</dt>
                <dt>{{ file.data.cmyk.c }}</dt>
                <dt>M:</dt>
                <dt>{{ file.data.cmyk.m }}</dt>
                <dt>Y:</dt>
                <dt>{{ file.data.cmyk.y }}</dt>
                <dt>K:</dt>
                <dt>{{ file.data.cmyk.k }}</dt>
              </dl>
            {% endset %}

            {% set accordion_id = file.data.name ~ '-' ~loop.index %}

            {% include 'components/accordion-item.html.twig' with {
              'title': 'CMYK',
              'content': color_profile_content,
              'id': accordion_id|clean_class
            } %}

          {% elseif file.data.rgb %}
            <strong>RGB</strong>
            <dl class="meta-data meta-data--color-scheme">
              <dt>R:</dt>
              <dt>{{ file.data.rgb.r }}</dt>
              <dt>G:</dt>
              <dt>{{ file.data.rgb.g }}</dt>
              <dt>B:</dt>
              <dt>{{ file.data.rgb.b }}</dt>
            </dl>
          {% endif %}

          {# aanvullende kleur #}
          {% if file.data.complementary %}
            {% set accordion_complementary_id = file.data.complementary.name ~ '-' ~loop.index %}

            {% set color_complementary_content %}
              <div class="l-meta l-meta-colors">
                <dl class="meta-data meta-data--color-scheme">
                  <dt>HEX:</dt>
                  <dt>{{ file.data.complementary.hex }}</dt>
                </dl>
              </div>

              <dl class="meta-data meta-data--color-scheme">
                <dt>C:</dt>
                <dt>{{ file.data.complementary.cmyk.c }}</dt>
                <dt>M:</dt>
                <dt>{{ file.data.complementary.cmyk.m }}</dt>
                <dt>Y:</dt>
                <dt>{{ file.data.complementary.cmyk.y }}</dt>
                <dt>K:</dt>
                <dt>{{ file.data.complementary.cmyk.k }}</dt>
              </dl>
            {% endset %}

            {% include 'components/accordion-item.html.twig' with {
              'title': 'Complementair',
              'subtitle': file.data.complementary.name,
              'content': color_complementary_content,
              'id': accordion_complementary_id|clean_class
            } %}
          {% endif %}

          {% if file.data.descr %}
            <p class="file__descr">{{ file.data.descr }}</p>
          {% endif %}

        </div>
      </div>
    {% endif %}
  </div>

{% endif %}