<html lang="nl" dir="ltr">

<head>
  {% include 'includes/head.html.twig' %}
</head>

<body class="page">


<div class="site-container">

  <header class="l-header">
    <div class="branding">
      <a href="index.php" class="branding__home-link">
        <img src="/theme/logo.svg" alt="{{ site_name }} Logo" class="branding__logo">

        <span class="branding__name">Gebruiker Centraal Beeldbank</span>
      </a>
    </div>

  </header>

  <main id="main">

    {% set menu_items = {
      '1': {
        'title': 'Top',
      }
    } %}

    <aside class="aside aside--nav">

      <nav class="main-menu">

        <h2 class="visually-hidden">Hoofdmenu</h2>

        <ul class="main-menu__list">
          {% for key, item in source %}

            <li class="main-menu__item"><a class="menu-link menu-link--main"
                                           href="#collection-{{ key }}">{{ item.name }}</a>

              {% if item.sub %}
                <ul class="main-menu__sublist">

                  {% for subkey, subitem in item.sub %}
                    <li class="main-menu__subitem">
                      <a class="menu-link menu-link--sub"
                         href="#collection-{{ key }}-subcollection-{{ subkey }}">{{ subitem.name }}</a>
                    </li>
                  {% endfor %}
                </ul>

              {% endif %}
            </li>
          {% endfor %}
        </ul>

      </nav>
    </aside>


    <div class="l-content">

      <h1>Gebruiker Centraal Beeldbank</h1>

      {% for key, item in source %}

        <div id="collection-{{ key }}" class="collection">

          {% if item.name %}
            <h2 class="collection__title">{{ item.name }}</h2>
          {% endif %}

          {% if item.descr %}
            <p class="descr">{{ item.descr }}</p>
          {% endif %}

          <div class="grid grid--col-3">
            {% for file in item.files %}
              {% include 'components/file.html.twig' with { 'file': file } %}
            {% endfor %}
          </div>

          {% if item.sub %}

            {% for subkey, subitem in item.sub %}
              <div id="collection-{{ key }}-subcollection-{{ subkey }}" class="collection collection--sub">

                <h3 class="collection__subtitle">{{ subitem.name }}</h3>

                {% if subitem.descr %}
                  <p>{{ subitem.descr }}</p>

                {% endif %}

                <div class="grid grid--col-3">

                  {% for file in subitem.files %}
                    {% include 'components/file.html.twig' with { 'file': file } %}
                  {% endfor %}
                </div>
              </div>
            {% endfor %}


          {% endif %}
        </div>
      {% endfor %}
    </div>

  </main>
</div>

{% include 'includes/footer.html.twig' %}
</div>

</body>